@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=Roboto:wght@100..900&display=swap');

.contact_labels {
    display: block;
}
.contact_drone_video>video{
    /*This code is very imp to make responsive video*/
    position: fixed;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    height: 100%;
    top:0;
}
.contact_content {
    display: flex;
    position: absolute;
    top: 100px;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}

form {
    padding: 20px;
    backdrop-filter: blur(2px);
    transition: all 2s;
    border-radius: 10px;
    margin:10px;
    border: 2px solid transparent;

}

form:hover {
    border: 2px solid lightgreen;
}


#description {
    background-color: transparent;
    
    font-size: 18px;
    
    backdrop-filter: blur(14px);
    border: 2px solid lightgreen;
    outline: none;
    border-radius: 10px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;

}



.submit_div {
    display: flex;
    justify-content: center;
}

.submit {
    outline: none;
    color:rgba(121,156,184,255);
    text-align: center;
    background-color: transparent;
    padding: 10px;
    border: 2px solid lightgreen;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    width: 200px;
    margin-top: 5px;
    color: white;
    font-weight: lighter;
    

}

::placeholder {
    color:white;
    font-weight: bolder;


}



form>#name,
form>#email {
    outline: none;
    caret-color: #007BFF;
    
    
    font-size: 20px;
    border: 2px solid lightgreen;
    height: 40px;
    color:white;
    
    background-color: transparent;
    border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    margin: 0 0 30px 0;
}

.contact_beach_video {
    position: relative;
}


label {
    font-weight: lighter;
    color: white;
    font-size: 25px;
  font-family: 'Open Sans', sans-serif;

}
.logo{
    position: absolute;
    top:40px;
}
@media (max-width: 829px) {
    
    .contact_content>form{
        width: 100%;
    }
    .contact_content>form>input, textarea{
        width:90%;
    }
    .contact_content{
        margin:5px;
    }
    
}
