/* Adding video to project-1 */
#links{
  display: flex;
  justify-content: space-between;

}
.github, #github2, #live2{
  margin-top:200px;
  background-color: lightgreen;
  display: inline-block;
  color: black;
}
#github2{
  margin-right:140px;
}

#project_one, #project_four{
  position: relative;

  width: 100%;
  height: auto;
  overflow: hidden;
}
#project_one>video, #project_four>video {
  position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit:fill;
}
#project_one>span{
  font-weight: bolder;
}
nav > ul > .nav_project:hover{
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
}

nav > ul > li {
    position: relative; 
  }
  
  nav > ul > li > a {
    position: relative; 
    text-decoration: none; 
  }
  nav > ul > .nav_project > {
    font-size: 12px;
  }
  
  nav > ul > .nav_project::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%; 
    height: 1px; 
    background-color:white;
    transition: all 500ms ease-in-out;
    border-top: 2px solid transparent; 
  }
  
  nav > ul > .nav:hover::after {
    right: 0; 
  }

.container_project {
    position: absolute;
    top: 10px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;

}
.container_project>nav>ul{
    display: flex;
}
#container_project_video>video{
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#project_one,
#project_two,
#project_three, #project_four{
    width: 250px;
    border: 2px solid white;
    height: 250px;
    border-radius: 10px;
    padding: 20px;
    color: white;
}

.section_project_content {
    display: flex;
    position: absolute;
    top: 250px;
    width: 100%;
    height: 450px;
    justify-content: center;
    border-radius: 10px;
}

#project_cards {
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    gap: 50px;
    align-items: center;
    display: flex;
    gap:20px;
    justify-content: center;
    transition: all 2s;
    margin-bottom: 400px;
}


#project_one, #project_four{
    background-position:center ;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}
#project_two{
    background-image:url(./images/slideshow.webp) ;
    background-position:center ;
    background-size: cover;
    color: black;
    background-repeat: no-repeat;
}
#project_three{
    background-image:url(./images/gui.jpeg) ;
    background-position:center ;
    background-size: cover;
    background-repeat: no-repeat;
}
#project_content{
    color:white;
}
div>a{
    text-align: center;
    font-size: larger;
}
.section_project_content{
    margin-top:20px ;
}
@media (max-width: 1098px) {
    #project_cards{
        display: block;
    }        
    #project_cards>a{
        margin-top:20px;
        display: block;
    }
    .section_project_content{
        top:150px;
    }
}
  
.container_project li>a{
    color: white;
}
nav > ul > li {
    position: relative; 
  }
  
  nav > ul > li > a {
    position: relative; 
    text-decoration: none; 
  }
  nav > ul > .nav > {
    font-size: 12px;
  }
  
  nav > ul > .nav::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%; 
    height: 1px; 
    background-color:white; 
    transition: all 500ms ease-in-out;
    border-top: 2px solid transparent; 
  }
  
  nav > ul > .nav:hover::after {
    right: 0; 
  }
  li.nav:hover{
    border: 2px solid transparent;
  } 