.container_service{
    position: absolute;
    top:10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#container_service_video>video{
    /*This code is very imp to make responsive video*/
    position: fixed;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    height: 100%;
   
}
/* video{
        width:100%;
        width: fit-content;
        height:100%;
        z-index: -1;
        position: fixed;
        object-fit: cover;
        top:0;
        left: 0;
    }
    body{
        width: 100%;
    
    }*/

.section_service_content{
    position: absolute;
    flex-wrap: wrap;
    display: flex;
    top:120px;
    width: 100%;
}
.container_service>nav>ul{
    display: flex;

}
.container_service{
    margin-top:20px;
}
#technical_skills,#web_database,#programming_languages{
    width:350px;
    height: 308px;
    color: white;
    border: transparent;
    transition: 0.5s all ease-in;
}

#technical_skills:hover,#web_database:hover,#programming_languages:hover{
    border: 2px solid white;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    color: rgba(8,203,229,255);
    cursor: pointer;
}
#service_cards{
    display: flex;
    gap:25px;
    width: 100%;

    justify-content: center;
}
#service_one{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding:10px ;

}
#service_two{
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding:10px ;
}
#service_three{
    padding:10px ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.material-symbols-outlined{
    color:white;
}
.technical_skills_list{
    list-style-type: none;
    backdrop-filter: blur(0);
}
ul>div>li{
    display: flex;
    gap: 10px;
    margin: 20px;
}
#technical_skills>h3{
    text-align: center;
}
#web_database>h3{
    text-align: center;
}
#programming_languages>h3{
    text-align:center;
}
#web_database{
    margin:auto;
    margin-top:30px;

}

/*Responsive design begin*/
@media (max-width: 687px) {
    li.nav{
        margin: 0 2px 0 2px;
    }
    .container_service {
        justify-content: flex-start;
    }
    .section_service_content {
        display: block;
    }
    #service_cards{
        display: block;
    }
    #web_database, #programming_languages, #technical_skills {
        margin:auto
    }
    }

    .container_service li>a{
        color: white;
    }